# ==========================================================
# Maven & Build
# ==========================================================
target/
build/
out/
*.log
!**/src/main/**/target/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar

# ==========================================================
# Environment / Secrets
# ==========================================================
.env.local
*.env
.env.*
*.key
*.pem

# ==========================================================
# IDE & Tooling
# ==========================================================
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / Spring Tool Suite (STS) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code ###
.vscode/

# ==========================================================
# OS / System Files
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# Docker
# ==========================================================
/docker-compose.override.yml
/.env.local
/.env.dev
